body {
  background-color: #212121;
}
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  span {
    color: red;
  }
}

.navbar {
  background-color: #181818 !important;
}
