.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  .redText {
    color: red;
  }
}

.navbar {
  background-color: #181818 !important;
}
.navbarItem {
  color: #fff;
  font-weight: 600;
  padding: 7px 10px;
  width: fit-content;
  text-align: center;
  &.active {
    border-bottom: 2px solid #fff;
    background-color: #ffffff26;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  &.mobile {
    color: #181818;
    width: 100%;

    &.active {
      border-color: #181818;
      background-color: #18181826;
    }
  }
}
.imageCardContainer {
  .imageCard {
    width: 95%;
    height: auto;
  }
  .addtoListBtn {
    position: absolute;
    top: 5px;
    margin-left: 5px;
  }
}
