.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  .redText {
    color: red;
  }
}

.navbar {
  background-color: #181818 !important;
}
.navbarItem {
  color: #fff;
  font-weight: 600;
}
.navbarItemMobile {
  color: #181818;
  font-weight: 600;
}
